@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 11%;
    --foreground: 240 10% 98%;

    --card: 240 10% 13%;
    --card-foreground: 240 10% 98%;

    --popover: 240 10% 13%;
    --popover-foreground: 240 10% 98%;

    --primary: 240 10% 98%;
    --primary-foreground: 240 10% 13%;

    --secondary: 240 8% 20%;
    --secondary-foreground: 240 10% 98%;

    --muted: 240 8% 20%;
    --muted-foreground: 240 10% 75%;

    --accent: 240 8% 20%;
    --accent-foreground: 240 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 10% 98%;

    --border: 240 8% 20%;
    --input: 240 8% 20%;
    --ring: 240 10% 75%;

    --sidebar-background: 240 10% 11%;
    --sidebar-foreground: 240 10% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 8% 20%;
    --sidebar-accent-foreground: 240 10% 98%;
    --sidebar-border: 240 8% 20%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
    padding-bottom: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
